* body {
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 0px;
    padding-top: 25px;
}

.headline {
    color: #78797A;
}
.banner-container{
    background-color: white;
    padding: 0%;
    display: flex;
    justify-content: right;
}
.header1 {
    
    padding-left: 0px;
    padding-right: 50px;
    background: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: light;
    box-shadow: 10px, 10px, 15px, grey, outset;
}

.header1 img {
    width: 260px;
    display: inline-block;
    margin: 0;
}


a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-weight: light;
}
a:hover {
    text-decoration: underline;
    color: #376b9f;
}

::selection{ background-color: #9fcfef;}

.Untertitel{
    color: black;
    font-size: 40px;
}
.text-container {
    font-size: 16px;
    padding-left: 8px;
}
.banner {
    display: flex;
    justify-content: left;
    width: 80px;
    margin-right: 10px;
}

.h2 {
    font-weight: light;
    font-size: 20px;
    color: black; 
    
}
.responsive{
    display:flex;
    justify-content: left;
    font-weight: light;
    }
.footer {
    padding: 20px 0;
    background-color: #fff;
   
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    vertical-align: middle;
}

.footer .social .EP {
    background: url('Fotos/EP\ fertig.png') center / 65% no-repeat;
    vertical-align: middle;
    background-position: center 7px;
    
}

.footer .social .RGM {
    background: url('Fotos/RGM\ fertig.png') center / 65% no-repeat;
    vertical-align: middle;
    background-position: center 9px;
    
}

.footer .social .MF {
    background: url('Fotos/MF.png') center / 65% no-repeat;
    vertical-align: middle;
    background-position: center 7px;
    background-position: 6px;
    
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover {
    opacity: 1;
}

.footer.copyrigth {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color:#aaa;
}

