* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    font-weight: '400';
    background-color: #ededed;

}

.footer {
    padding: 40px 0;
    background-color: #fff;


}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    
}
